<html>
<head>
<body bgcolor=gray>
<center>
<h1 style="color:black;font-size:40px;"> Hello All....!!</h1>
<h1 style="color:black;font-size:40px;"> I am done with task 15....!!</h1>
<h1 style="color:black;font-size:40px;"> This Page Come From Redhat OS And Having IP Address  {{ ansible_facts['default_ipv4']['address'] }} ...!!</h1>
</center>
</body>
</head>
</html>
